################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Procdemic.sln
/x64
/Procdemic.vcxproj.user
/Procdemic.vcxproj.filters
/Procdemic.vcxproj
/lib/lib-vc2019
/include/GLFW
/Debug
/.vs
