################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Procdemic.sln
/x64
/Procdemic.vcxproj.user
/Procdemic.vcxproj.filters
/Procdemic.vcxproj
/lib/lib-vc2019
/include/GLFW
/Debug
/.vs
/log.txt
/logs/202011logs.txt
/logs
PP
Procedemic.cbp
Procedemic.depend
Procedemic.layout
/include/glm/out/build/x64-Debug (default)/VSInheritEnvironments.txt
/include/glm/out/build/x64-Debug (default)/Testing/Temporary/LastTest.log
/include/glm/out/build/x64-Debug (default)/Testing/Temporary
/include/glm/out/build/x64-Debug (default)/cmake_install.cmake
/include/glm/out/build/x64-Debug (default)/CMakeFiles/TargetDirectories.txt
/include/glm/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.obj
/include/glm/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.c
/include/glm/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/foo.h
/include/glm/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes
/include/glm/out/build/x64-Debug (default)/CMakeFiles/rules.ninja
/include/glm/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
/include/glm/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeSystem.cmake
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeRCCompiler.cmake
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_C.bin
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCXXCompiler.cmake
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCCompiler.cmake
/include/glm/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2
/include/glm/out/build/x64-Debug (default)/CMakeFiles
/include/glm/out/build/x64-Debug (default)/CMakeCache.txt
/include/glm/out/build/x64-Debug (default)/build.ninja
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1/reply/index-2021-01-05T04-12-17-0772.json
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1/reply/codemodel-v2-852a9a942669dcb011be.json
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1/reply/cmakeFiles-v1-9cc4aaa6f9f053bf7dd6.json
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1/reply/cache-v2-5df2b39081eac618b75a.json
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1/reply
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS
/include/glm/out/build/x64-Debug (default)/.cmake/api/v1
/include/glm/out/build/x64-Debug (default)
*.cbp
/bin
*.depend
*.layout
/obj
*.jpg~

